:root {
  --black-color: #08020d;
  --dark-gray-color: #3c3b3d;
  --medium-gray-color: #cacaca;
  --light-gray-color: #e0e0e0;
  --green-color: #34c176;
  --orange-color: #f89202;
  --purple-color: #5328a1;
  --brown-color: #95390c;
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 550;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: var(--medium-gray-color);
  background-color: var(--black-color);
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (width <= 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}